{{#if url.length}}
  <div class="col-md-6 url-list">
    <h3>My links</h3>

    {{#each url as |url|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/url/{{url.id}}">{{url.short_link}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{url.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
